In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'
raw_data = pd.read_csv(url)

In [3]:
raw_data.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,145,145,145,149,149,151,151,151,151,152
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,14,14,14,15,15,15,16,16,19,19
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,1808,1843,1924,1968,2031,2156,2173,2198,2256,2299
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,66,66,66,66,66,68,68,69,69,69

In [4]:
raw_data.columns

Index(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_',
       ...
       '5/3/20', '5/4/20', '5/5/20', '5/6/20', '5/7/20', '5/8/20', '5/9/20',
       '5/10/20', '5/11/20', '5/12/20'],
      dtype='object', length=123)

In [5]:
covid_data = raw_data.rename(
columns = {'FIPS':'fips', 'Admin2':'county','Province_State':'state', 'Country_Region':'country', 'Lat':'lat', 'Long_':'long'})
covid_data.head()

,UID,iso2,iso3,code3,fips,county,state,country,lat,long,...,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,145,145,145,149,149,151,151,151,151,152
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,14,14,14,15,15,15,16,16,19,19
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,1808,1843,1924,1968,2031,2156,2173,2198,2256,2299
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,66,66,66,66,66,68,68,69,69,69

In [6]:
covid_data.columns

Index(['UID', 'iso2', 'iso3', 'code3', 'fips', 'county', 'state', 'country',
       'lat', 'long',
       ...
       '5/3/20', '5/4/20', '5/5/20', '5/6/20', '5/7/20', '5/8/20', '5/9/20',
       '5/10/20', '5/11/20', '5/12/20'],
      dtype='object', length=123)

In [7]:
#only keep columns that we want
# covid_data_select = covid_data[['county', 'state', 'country',
#        'lat', 'long', '1/22/20', '1/23/20', '1/24/20',
#        '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20', '1/30/20',
#        '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20', '2/6/20',
#        '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
#        '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
#        '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
#        '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
#        '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
#        '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
#        '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
#        '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
#        '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
#        '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20',
#        '4/9/20', '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20',
#        '4/15/20']]

# instead we want to drop the specific columns so that it will always work going forward
covid_data_select = covid_data.drop(columns = ['UID', 'iso2', 'iso3', 'code3', 'fips', 'Combined_Key'])

covid_data_select.head()

,county,state,country,lat,long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20
0,NaN,American Samoa,US,-14.2710,-170.1320,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Guam,US,13.4443,144.7937,0,0,0,0,0,...,145,145,145,149,149,151,151,151,151,152
2,NaN,Northern Mariana Islands,US,15.0979,145.6739,0,0,0,0,0,...,14,14,14,15,15,15,16,16,19,19
3,NaN,Puerto Rico,US,18.2208,-66.5901,0,0,0,0,0,...,1808,1843,1924,1968,2031,2156,2173,2198,2256,2299
4,NaN,Virgin Islands,US,18.3358,-64.8963,0,0,0,0,0,...,66,66,66,66,66,68,68,69,69,69

In [8]:
# use melt to turn date columns into data rows
# id_vars is all the columns not converted
# var is the column that gets converted to a row
# val is the value from those columns
keep_columns = ['county', 'state', 'country', 'lat', 'long']
covid_data_flat = (covid_data_select.melt(id_vars = keep_columns, var_name = 'date_raw', value_name = 'confirmed' ))
covid_data_flat.head()

,county,state,country,lat,long,date_raw,confirmed
0,NaN,American Samoa,US,-14.2710,-170.1320,1/22/20,0
1,NaN,Guam,US,13.4443,144.7937,1/22/20,0
2,NaN,Northern Mariana Islands,US,15.0979,145.6739,1/22/20,0
3,NaN,Puerto Rico,US,18.2208,-66.5901,1/22/20,0
4,NaN,Virgin Islands,US,18.3358,-64.8963,1/22/20,0

In [9]:
# convert string dates into date time
covid_data_flat.filter(['date_raw'])

       date_raw
0       1/22/20
1       1/22/20
2       1/22/20
3       1/22/20
4       1/22/20
5       1/22/20
6       1/22/20
7       1/22/20
8       1/22/20
9       1/22/20
10      1/22/20
11      1/22/20
12      1/22/20
13      1/22/20
14      1/22/20
15      1/22/20
16      1/22/20
17      1/22/20
18      1/22/20
19      1/22/20
20      1/22/20
21      1/22/20
22      1/22/20
23      1/22/20
24      1/22/20
25      1/22/20
26      1/22/20
27      1/22/20
28      1/22/20
29      1/22/20
...         ...
365202  5/12/20
365203  5/12/20
365204  5/12/20
365205  5/12/20
365206  5/12/20
365207  5/12/20
365208  5/12/20
365209  5/12/20
365210  5/12/20
365211  5/12/20
365212  5/12/20
365213  5/12/20
365214  5/12/20
365215  5/12/20
365216  5/12/20
365217  5/12/20
365218  5/12/20
365219  5/12/20
365220  5/12/20
365221  5/12/20
365222  5/12/20
365223  5/12/20
365224  5/12/20
365225  5/12/20
365226  5/12/20
365227  5/12/20
365228  5/12/20
365229  5/12/20
365230  5/12/20
365231  5/12/20

[365232 rows x 1 columns]

In [10]:
covid_data_flat.assign(date = pd.to_datetime(covid_data_flat.date_raw, format = '%m/%d/%y')).filter(['date', 'date_raw'])

             date date_raw
0      2020-01-22  1/22/20
1      2020-01-22  1/22/20
2      2020-01-22  1/22/20
3      2020-01-22  1/22/20
4      2020-01-22  1/22/20
5      2020-01-22  1/22/20
6      2020-01-22  1/22/20
7      2020-01-22  1/22/20
8      2020-01-22  1/22/20
9      2020-01-22  1/22/20
10     2020-01-22  1/22/20
11     2020-01-22  1/22/20
12     2020-01-22  1/22/20
13     2020-01-22  1/22/20
14     2020-01-22  1/22/20
15     2020-01-22  1/22/20
16     2020-01-22  1/22/20
17     2020-01-22  1/22/20
18     2020-01-22  1/22/20
19     2020-01-22  1/22/20
20     2020-01-22  1/22/20
21     2020-01-22  1/22/20
22     2020-01-22  1/22/20
23     2020-01-22  1/22/20
24     2020-01-22  1/22/20
25     2020-01-22  1/22/20
26     2020-01-22  1/22/20
27     2020-01-22  1/22/20
28     2020-01-22  1/22/20
29     2020-01-22  1/22/20
...           ...      ...
365202 2020-05-12  5/12/20
365203 2020-05-12  5/12/20
365204 2020-05-12  5/12/20
365205 2020-05-12  5/12/20
365206 2020-05-12  5/12/20
365207 2020-05-12  5/12/20
365208 2020-05-12  5/12/20
365209 2020-05-12  5/12/20
365210 2020-05-12  5/12/20
365211 2020-05-12  5/12/20
365212 2020-05-12  5/12/20
365213 2020-05-12  5/12/20
365214 2020-05-12  5/12/20
365215 2020-05-12  5/12/20
365216 2020-05-12  5/12/20
365217 2020-05-12  5/12/20
365218 2020-05-12  5/12/20
365219 2020-05-12  5/12/20
365220 2020-05-12  5/12/20
365221 2020-05-12  5/12/20
365222 2020-05-12  5/12/20
365223 2020-05-12  5/12/20
365224 2020-05-12  5/12/20
365225 2020-05-12  5/12/20
365226 2020-05-12  5/12/20
365227 2020-05-12  5/12/20
365228 2020-05-12  5/12/20
365229 2020-05-12  5/12/20
365230 2020-05-12  5/12/20
365231 2020-05-12  5/12/20

[365232 rows x 2 columns]

In [11]:
# group by date to remove duplicates, add confirmed column
(covid_data_flat
.assign(date = pd.to_datetime(covid_data_flat.date_raw, format = '%m/%d/%y'))
.filter(['date', 'date_raw', 'confirmed'])
.groupby(['date', 'date_raw'])
.agg('sum')
.sort_values('date')
)

                     confirmed
date       date_raw
2020-01-22 1/22/20           1
2020-01-23 1/23/20           1
2020-01-24 1/24/20           2
2020-01-25 1/25/20           2
2020-01-26 1/26/20           5
2020-01-27 1/27/20           5
2020-01-28 1/28/20           5
2020-01-29 1/29/20           5
2020-01-30 1/30/20           5
2020-01-31 1/31/20           7
2020-02-01 2/1/20            8
2020-02-02 2/2/20            8
2020-02-03 2/3/20           11
2020-02-04 2/4/20           11
2020-02-05 2/5/20           11
2020-02-06 2/6/20           11
2020-02-07 2/7/20           11
2020-02-08 2/8/20           11
2020-02-09 2/9/20           11
2020-02-10 2/10/20          11
2020-02-11 2/11/20          12
2020-02-12 2/12/20          12
2020-02-13 2/13/20          13
2020-02-14 2/14/20          13
2020-02-15 2/15/20          13
2020-02-16 2/16/20          13
2020-02-17 2/17/20          13
2020-02-18 2/18/20          13
2020-02-19 2/19/20          13
2020-02-20 2/20/20          13
...                        ...
2020-04-13 4/13/20      580619
2020-04-14 4/14/20      607670
2020-04-15 4/15/20      636350
2020-04-16 4/16/20      667592
2020-04-17 4/17/20      699706
2020-04-18 4/18/20      727959
2020-04-19 4/19/20      754376
2020-04-20 4/20/20      779682
2020-04-21 4/21/20      807023
2020-04-22 4/22/20      835150
2020-04-23 4/23/20      869170
2020-04-24 4/24/20      905358
2020-04-25 4/25/20      938154
2020-04-26 4/26/20      965785
2020-04-27 4/27/20      988197
2020-04-28 4/28/20     1012582
2020-04-29 4/29/20     1039909
2020-04-30 4/30/20     1069424
2020-05-01 5/1/20      1103461
2020-05-02 5/2/20      1132539
2020-05-03 5/3/20      1158040
2020-05-04 5/4/20      1180375
2020-05-05 5/5/20      1204351
2020-05-06 5/6/20      1229331
2020-05-07 5/7/20      1257023
2020-05-08 5/8/20      1283929
2020-05-09 5/9/20      1309550
2020-05-10 5/10/20     1329260
2020-05-11 5/11/20     1347881
2020-05-12 5/12/20     1369574

[112 rows x 1 columns]

In [12]:
# make a backup before assigning date
covid_data_backup_before_date_conversion = covid_data_flat.copy()

In [13]:
#now just use the assign tested above but applied to main dataframe to add new date column
covid_data_flat = covid_data_flat.assign(date = pd.to_datetime(covid_data_flat.date_raw, format = '%m/%d/%y'))
covid_data_flat.head()

,county,state,country,lat,long,date_raw,confirmed,date
0,NaN,American Samoa,US,-14.2710,-170.1320,1/22/20,0,2020-01-22
1,NaN,Guam,US,13.4443,144.7937,1/22/20,0,2020-01-22
2,NaN,Northern Mariana Islands,US,15.0979,145.6739,1/22/20,0,2020-01-22
3,NaN,Puerto Rico,US,18.2208,-66.5901,1/22/20,0,2020-01-22
4,NaN,Virgin Islands,US,18.3358,-64.8963,1/22/20,0,2020-01-22

In [14]:
# filter columns that we want
covid_data_final = covid_data_flat.filter(['county','state', 'country', 'date', 'lat', 'long', 'confirmed'])
covid_data_final.head()

,county,state,country,date,lat,long,confirmed
0,NaN,American Samoa,US,2020-01-22,-14.2710,-170.1320,0
1,NaN,Guam,US,2020-01-22,13.4443,144.7937,0
2,NaN,Northern Mariana Islands,US,2020-01-22,15.0979,145.6739,0
3,NaN,Puerto Rico,US,2020-01-22,18.2208,-66.5901,0
4,NaN,Virgin Islands,US,2020-01-22,18.3358,-64.8963,0

In [15]:
# add a sort
covid_data_final = covid_data_final.sort_values(['country','state','county', 'lat', 'long','date'])
covid_data_final.head()

        county    state country       date        lat       long  confirmed
5      Autauga  Alabama      US 2020-01-22  32.539527 -86.644082          0
3266   Autauga  Alabama      US 2020-01-23  32.539527 -86.644082          0
6527   Autauga  Alabama      US 2020-01-24  32.539527 -86.644082          0
9788   Autauga  Alabama      US 2020-01-25  32.539527 -86.644082          0
13049  Autauga  Alabama      US 2020-01-26  32.539527 -86.644082          0

In [16]:
df_mo = covid_data_final.loc[covid_data_final["state"]=="Missouri",:]
df_mo.head()

      county     state country       date        lat       long  confirmed
1488   Adair  Missouri      US 2020-01-22  40.190586 -92.600782          0
4749   Adair  Missouri      US 2020-01-23  40.190586 -92.600782          0
8010   Adair  Missouri      US 2020-01-24  40.190586 -92.600782          0
11271  Adair  Missouri      US 2020-01-25  40.190586 -92.600782          0
14532  Adair  Missouri      US 2020-01-26  40.190586 -92.600782          0

In [17]:
# all results from st louis county
df_stlco = df_mo.loc[df_mo["county"]=="St. Louis",:]
df_stlco.head()

          county     state country       date      lat       long  confirmed
1583   St. Louis  Missouri      US 2020-01-22  38.6377 -90.445837          0
4844   St. Louis  Missouri      US 2020-01-23  38.6377 -90.445837          0
8105   St. Louis  Missouri      US 2020-01-24  38.6377 -90.445837          0
11366  St. Louis  Missouri      US 2020-01-25  38.6377 -90.445837          0
14627  St. Louis  Missouri      US 2020-01-26  38.6377 -90.445837          0

In [18]:
# all results from st louis county
df_stlco_cases = df_mo.loc[(df_mo["county"]=="St. Louis")&(df_mo["confirmed"]>0),:]
df_stlco_cases.tail(n=10)

           county     state country       date      lat       long  confirmed
334205  St. Louis  Missouri      US 2020-05-03  38.6377 -90.445837       3433
337466  St. Louis  Missouri      US 2020-05-04  38.6377 -90.445837       3521
340727  St. Louis  Missouri      US 2020-05-05  38.6377 -90.445837       3569
343988  St. Louis  Missouri      US 2020-05-06  38.6377 -90.445837       3648
347249  St. Louis  Missouri      US 2020-05-07  38.6377 -90.445837       3724
350510  St. Louis  Missouri      US 2020-05-08  38.6377 -90.445837       3792
353771  St. Louis  Missouri      US 2020-05-09  38.6377 -90.445837       3864
357032  St. Louis  Missouri      US 2020-05-10  38.6377 -90.445837       3932
360293  St. Louis  Missouri      US 2020-05-11  38.6377 -90.445837       3951
363554  St. Louis  Missouri      US 2020-05-12  38.6377 -90.445837       3986

In [19]:
counties = df_mo.filter(['county']).drop_duplicates()
counties.head()

        county
1488     Adair
1489    Andrew
1490  Atchison
1491   Audrain
1492     Barry

In [20]:
# all results from st louis county
df_stlcity = df_mo.loc[df_mo["county"]=="St. Louis City",:]
df_stlcity.tail(n=10)

,county,state,country,date,lat,long,confirmed
334224,St. Louis City,Missouri,US,2020-05-03,38.635557,-90.243492,1304
337485,St. Louis City,Missouri,US,2020-05-04,38.635557,-90.243492,1346
340746,St. Louis City,Missouri,US,2020-05-05,38.635557,-90.243492,1362
344007,St. Louis City,Missouri,US,2020-05-06,38.635557,-90.243492,1384
347268,St. Louis City,Missouri,US,2020-05-07,38.635557,-90.243492,1450
350529,St. Louis City,Missouri,US,2020-05-08,38.635557,-90.243492,1474
353790,St. Louis City,Missouri,US,2020-05-09,38.635557,-90.243492,1484
357051,St. Louis City,Missouri,US,2020-05-10,38.635557,-90.243492,1513
360312,St. Louis City,Missouri,US,2020-05-11,38.635557,-90.243492,1526
363573,St. Louis City,Missouri,US,2020-05-12,38.635557,-90.243492,1549

In [21]:
# all results from st louis county
df_stcharles = df_mo.loc[df_mo["county"]=="St. Charles",:]
df_stcharles.tail(n=10)

,county,state,country,date,lat,long,confirmed
334201,St. Charles,Missouri,US,2020-05-03,38.778757,-90.666624,608
337462,St. Charles,Missouri,US,2020-05-04,38.778757,-90.666624,612
340723,St. Charles,Missouri,US,2020-05-05,38.778757,-90.666624,626
343984,St. Charles,Missouri,US,2020-05-06,38.778757,-90.666624,631
347245,St. Charles,Missouri,US,2020-05-07,38.778757,-90.666624,646
350506,St. Charles,Missouri,US,2020-05-08,38.778757,-90.666624,655
353767,St. Charles,Missouri,US,2020-05-09,38.778757,-90.666624,663
357028,St. Charles,Missouri,US,2020-05-10,38.778757,-90.666624,665
360289,St. Charles,Missouri,US,2020-05-11,38.778757,-90.666624,673
363550,St. Charles,Missouri,US,2020-05-12,38.778757,-90.666624,673