In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'
raw_data = pd.read_csv(url)

In [3]:
raw_data.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,121,121,128,130,133,133,133,133,135,135
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,8,11,11,11,11,11,11,11,13,13
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,573,620,683,725,788,897,903,923,974,1043
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,43,45,45,50,51,51,51,51,51,51

In [4]:
raw_data.columns

Index(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_', 'Combined_Key', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
       '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20',
       '4/9/20', '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20',
       '4/15/20', '4/16/20'],
      dtype='object')

In [5]:
covid_data = raw_data.rename(
columns = {'FIPS':'fips', 'Admin2':'county','Province_State':'state', 'Country_Region':'country', 'Lat':'lat', 'Long_':'long'})
covid_data.head()

,UID,iso2,iso3,code3,fips,county,state,country,lat,long,...,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,121,121,128,130,133,133,133,133,135,135
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,8,11,11,11,11,11,11,11,13,13
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,573,620,683,725,788,897,903,923,974,1043
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,43,45,45,50,51,51,51,51,51,51

In [6]:
covid_data.columns

Index(['UID', 'iso2', 'iso3', 'code3', 'fips', 'county', 'state', 'country',
       'lat', 'long', 'Combined_Key', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20', '1/30/20',
       '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20', '2/6/20',
       '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
       '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20',
       '4/9/20', '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20',
       '4/15/20', '4/16/20'],
      dtype='object')

In [7]:
#only keep columns that we want
# covid_data_select = covid_data[['county', 'state', 'country',
#        'lat', 'long', '1/22/20', '1/23/20', '1/24/20',
#        '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20', '1/30/20',
#        '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20', '2/6/20',
#        '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
#        '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
#        '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
#        '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
#        '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
#        '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
#        '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
#        '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
#        '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
#        '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20',
#        '4/9/20', '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20',
#        '4/15/20']]

# instead we want to drop the specific columns so that it will always work going forward
covid_data_select = covid_data.drop(columns = ['UID', 'iso2', 'iso3', 'code3', 'fips', 'Combined_Key'])

covid_data_select.head()

,county,state,country,lat,long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20
0,NaN,American Samoa,US,-14.2710,-170.1320,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Guam,US,13.4443,144.7937,0,0,0,0,0,...,121,121,128,130,133,133,133,133,135,135
2,NaN,Northern Mariana Islands,US,15.0979,145.6739,0,0,0,0,0,...,8,11,11,11,11,11,11,11,13,13
3,NaN,Puerto Rico,US,18.2208,-66.5901,0,0,0,0,0,...,573,620,683,725,788,897,903,923,974,1043
4,NaN,Virgin Islands,US,18.3358,-64.8963,0,0,0,0,0,...,43,45,45,50,51,51,51,51,51,51

In [8]:
# use melt to turn date columns into data rows
# id_vars is all the columns not converted
# var is the column that gets converted to a row
# val is the value from those columns
keep_columns = ['county', 'state', 'country', 'lat', 'long']
covid_data_flat = (covid_data_select.melt(id_vars = keep_columns, var_name = 'date_raw', value_name = 'confirmed' ))
covid_data_flat.head()

,county,state,country,lat,long,date_raw,confirmed
0,NaN,American Samoa,US,-14.2710,-170.1320,1/22/20,0
1,NaN,Guam,US,13.4443,144.7937,1/22/20,0
2,NaN,Northern Mariana Islands,US,15.0979,145.6739,1/22/20,0
3,NaN,Puerto Rico,US,18.2208,-66.5901,1/22/20,0
4,NaN,Virgin Islands,US,18.3358,-64.8963,1/22/20,0

In [30]:
# convert string dates into date time
covid_data_flat.filter(['date_raw'])

  date_raw
0  1/22/20
1  1/22/20
2  1/22/20
3  1/22/20
4  1/22/20

In [10]:
covid_data_flat.assign(date = pd.to_datetime(covid_data_flat.date_raw, format = '%m/%d/%y')).filter(['date', 'date_raw'])

             date date_raw
0      2020-01-22  1/22/20
1      2020-01-22  1/22/20
2      2020-01-22  1/22/20
3      2020-01-22  1/22/20
4      2020-01-22  1/22/20
5      2020-01-22  1/22/20
6      2020-01-22  1/22/20
7      2020-01-22  1/22/20
8      2020-01-22  1/22/20
9      2020-01-22  1/22/20
10     2020-01-22  1/22/20
11     2020-01-22  1/22/20
12     2020-01-22  1/22/20
13     2020-01-22  1/22/20
14     2020-01-22  1/22/20
15     2020-01-22  1/22/20
16     2020-01-22  1/22/20
17     2020-01-22  1/22/20
18     2020-01-22  1/22/20
19     2020-01-22  1/22/20
20     2020-01-22  1/22/20
21     2020-01-22  1/22/20
22     2020-01-22  1/22/20
23     2020-01-22  1/22/20
24     2020-01-22  1/22/20
25     2020-01-22  1/22/20
26     2020-01-22  1/22/20
27     2020-01-22  1/22/20
28     2020-01-22  1/22/20
29     2020-01-22  1/22/20
...           ...      ...
279900 2020-04-16  4/16/20
279901 2020-04-16  4/16/20
279902 2020-04-16  4/16/20
279903 2020-04-16  4/16/20
279904 2020-04-16  4/16/20
279905 2020-04-16  4/16/20
279906 2020-04-16  4/16/20
279907 2020-04-16  4/16/20
279908 2020-04-16  4/16/20
279909 2020-04-16  4/16/20
279910 2020-04-16  4/16/20
279911 2020-04-16  4/16/20
279912 2020-04-16  4/16/20
279913 2020-04-16  4/16/20
279914 2020-04-16  4/16/20
279915 2020-04-16  4/16/20
279916 2020-04-16  4/16/20
279917 2020-04-16  4/16/20
279918 2020-04-16  4/16/20
279919 2020-04-16  4/16/20
279920 2020-04-16  4/16/20
279921 2020-04-16  4/16/20
279922 2020-04-16  4/16/20
279923 2020-04-16  4/16/20
279924 2020-04-16  4/16/20
279925 2020-04-16  4/16/20
279926 2020-04-16  4/16/20
279927 2020-04-16  4/16/20
279928 2020-04-16  4/16/20
279929 2020-04-16  4/16/20

[279930 rows x 2 columns]

In [11]:
# group by date to remove duplicates, add confirmed column
(covid_data_flat
.assign(date = pd.to_datetime(covid_data_flat.date_raw, format = '%m/%d/%y'))
.filter(['date', 'date_raw', 'confirmed'])
.groupby(['date', 'date_raw'])
.agg('sum')
.sort_values('date')
)

                     confirmed
date       date_raw
2020-01-22 1/22/20           1
2020-01-23 1/23/20           1
2020-01-24 1/24/20           2
2020-01-25 1/25/20           2
2020-01-26 1/26/20           5
2020-01-27 1/27/20           5
2020-01-28 1/28/20           5
2020-01-29 1/29/20           5
2020-01-30 1/30/20           5
2020-01-31 1/31/20           7
2020-02-01 2/1/20            8
2020-02-02 2/2/20            8
2020-02-03 2/3/20           11
2020-02-04 2/4/20           11
2020-02-05 2/5/20           11
2020-02-06 2/6/20           11
2020-02-07 2/7/20           11
2020-02-08 2/8/20           11
2020-02-09 2/9/20           11
2020-02-10 2/10/20          11
2020-02-11 2/11/20          12
2020-02-12 2/12/20          12
2020-02-13 2/13/20          13
2020-02-14 2/14/20          13
2020-02-15 2/15/20          13
2020-02-16 2/16/20          13
2020-02-17 2/17/20          13
2020-02-18 2/18/20          13
2020-02-19 2/19/20          13
2020-02-20 2/20/20          13
...                        ...
2020-03-18 3/18/20        8873
2020-03-19 3/19/20       14094
2020-03-20 3/20/20       19403
2020-03-21 3/21/20       25725
2020-03-22 3/22/20       33634
2020-03-23 3/23/20       43663
2020-03-24 3/24/20       53736
2020-03-25 3/25/20       65778
2020-03-26 3/26/20       83836
2020-03-27 3/27/20      101657
2020-03-28 3/28/20      121465
2020-03-29 3/29/20      140909
2020-03-30 3/30/20      161831
2020-03-31 3/31/20      188172
2020-04-01 4/1/20       213372
2020-04-02 4/2/20       243762
2020-04-03 4/3/20       275586
2020-04-04 4/4/20       308853
2020-04-05 4/5/20       337072
2020-04-06 4/6/20       366667
2020-04-07 4/7/20       396223
2020-04-08 4/8/20       429052
2020-04-09 4/9/20       461437
2020-04-10 4/10/20      496535
2020-04-11 4/11/20      526396
2020-04-12 4/12/20      555313
2020-04-13 4/13/20      580619
2020-04-14 4/14/20      607670
2020-04-15 4/15/20      636350
2020-04-16 4/16/20      667801

[86 rows x 1 columns]

In [12]:
# make a backup before assigning date
covid_data_backup_before_date_conversion = covid_data_flat.copy()

In [13]:
#now just use the assign tested above but applied to main dataframe to add new date column
covid_data_flat = covid_data_flat.assign(date = pd.to_datetime(covid_data_flat.date_raw, format = '%m/%d/%y'))
covid_data_flat.head()

,county,state,country,lat,long,date_raw,confirmed,date
0,NaN,American Samoa,US,-14.2710,-170.1320,1/22/20,0,2020-01-22
1,NaN,Guam,US,13.4443,144.7937,1/22/20,0,2020-01-22
2,NaN,Northern Mariana Islands,US,15.0979,145.6739,1/22/20,0,2020-01-22
3,NaN,Puerto Rico,US,18.2208,-66.5901,1/22/20,0,2020-01-22
4,NaN,Virgin Islands,US,18.3358,-64.8963,1/22/20,0,2020-01-22

In [14]:
# filter columns that we want
covid_data_final = covid_data_flat.filter(['county','state', 'country', 'date', 'lat', 'long', 'confirmed'])
covid_data_final.head()

,county,state,country,date,lat,long,confirmed
0,NaN,American Samoa,US,2020-01-22,-14.2710,-170.1320,0
1,NaN,Guam,US,2020-01-22,13.4443,144.7937,0
2,NaN,Northern Mariana Islands,US,2020-01-22,15.0979,145.6739,0
3,NaN,Puerto Rico,US,2020-01-22,18.2208,-66.5901,0
4,NaN,Virgin Islands,US,2020-01-22,18.3358,-64.8963,0

In [15]:
# add a sort
covid_data_final = covid_data_final.sort_values(['country','state','county', 'lat', 'long','date'])
covid_data_final.head()

        county    state country       date        lat       long  confirmed
5      Autauga  Alabama      US 2020-01-22  32.539527 -86.644082          0
3260   Autauga  Alabama      US 2020-01-23  32.539527 -86.644082          0
6515   Autauga  Alabama      US 2020-01-24  32.539527 -86.644082          0
9770   Autauga  Alabama      US 2020-01-25  32.539527 -86.644082          0
13025  Autauga  Alabama      US 2020-01-26  32.539527 -86.644082          0

In [16]:
df_mo = covid_data_final.loc[covid_data_final["state"]=="Missouri",:]
df_mo.head()

      county     state country       date        lat       long  confirmed
1488   Adair  Missouri      US 2020-01-22  40.190586 -92.600782          0
4743   Adair  Missouri      US 2020-01-23  40.190586 -92.600782          0
7998   Adair  Missouri      US 2020-01-24  40.190586 -92.600782          0
11253  Adair  Missouri      US 2020-01-25  40.190586 -92.600782          0
14508  Adair  Missouri      US 2020-01-26  40.190586 -92.600782          0

In [26]:
# all results from st louis county
df_stlco = df_mo.loc[df_mo["county"]=="St. Louis",:]
df_stlco.head()

          county     state country       date      lat       long  confirmed
1583   St. Louis  Missouri      US 2020-01-22  38.6377 -90.445837          0
4838   St. Louis  Missouri      US 2020-01-23  38.6377 -90.445837          0
8093   St. Louis  Missouri      US 2020-01-24  38.6377 -90.445837          0
11348  St. Louis  Missouri      US 2020-01-25  38.6377 -90.445837          0
14603  St. Louis  Missouri      US 2020-01-26  38.6377 -90.445837          0

In [29]:
# all results from st louis county
df_stlco_cases = df_mo.loc[(df_mo["county"]=="St. Louis")&(df_mo["confirmed"]>0),:]
df_stlco_cases.tail(n=10)

           county     state country       date      lat       long  confirmed
248963  St. Louis  Missouri      US 2020-04-07  38.6377 -90.445837       1203
252218  St. Louis  Missouri      US 2020-04-08  38.6377 -90.445837       1203
255473  St. Louis  Missouri      US 2020-04-09  38.6377 -90.445837       1302
258728  St. Louis  Missouri      US 2020-04-10  38.6377 -90.445837       1498
261983  St. Louis  Missouri      US 2020-04-11  38.6377 -90.445837       1568
265238  St. Louis  Missouri      US 2020-04-12  38.6377 -90.445837       1633
268493  St. Louis  Missouri      US 2020-04-13  38.6377 -90.445837       1724
271748  St. Louis  Missouri      US 2020-04-14  38.6377 -90.445837       1851
275003  St. Louis  Missouri      US 2020-04-15  38.6377 -90.445837       1851
278258  St. Louis  Missouri      US 2020-04-16  38.6377 -90.445837       2026

In [21]:
counties = df_mo.filter(['county']).drop_duplicates()
counties.head()

        county
1488     Adair
1489    Andrew
1490  Atchison
1491   Audrain
1492     Barry

In [19]:
# all results from st louis county
df_stlcity = df_mo.loc[df_mo["county"]=="St. Louis City",:]
df_stlcity

,county,state,country,date,lat,long,confirmed
1602,St. Louis City,Missouri,US,2020-01-22,38.635557,-90.243492,0
4857,St. Louis City,Missouri,US,2020-01-23,38.635557,-90.243492,0
8112,St. Louis City,Missouri,US,2020-01-24,38.635557,-90.243492,0
11367,St. Louis City,Missouri,US,2020-01-25,38.635557,-90.243492,0
14622,St. Louis City,Missouri,US,2020-01-26,38.635557,-90.243492,0
17877,St. Louis City,Missouri,US,2020-01-27,38.635557,-90.243492,0
21132,St. Louis City,Missouri,US,2020-01-28,38.635557,-90.243492,0
24387,St. Louis City,Missouri,US,2020-01-29,38.635557,-90.243492,0
27642,St. Louis City,Missouri,US,2020-01-30,38.635557,-90.243492,0
30897,St. Louis City,Missouri,US,2020-01-31,38.635557,-90.243492,0
34152,St. Louis City,Missouri,US,2020-02-01,38.635557,-90.243492,0
37407,St. Louis City,Missouri,US,2020-02-02,38.635557,-90.243492,0
40662,St. Louis City,Missouri,US,2020-02-03,38.635557,-90.243492,0
43917,St. Louis City,Missouri,US,2020-02-04,38.635557,-90.243492,0
47172,St. Louis City,Missouri,US,2020-02-05,38.635557,-90.243492,0
50427,St. Louis City,Missouri,US,2020-02-06,38.635557,-90.243492,0
53682,St. Louis City,Missouri,US,2020-02-07,38.635557,-90.243492,0
56937,St. Louis City,Missouri,US,2020-02-08,38.635557,-90.243492,0
60192,St. Louis City,Missouri,US,2020-02-09,38.635557,-90.243492,0
63447,St. Louis City,Missouri,US,2020-02-10,38.635557,-90.243492,0
66702,St. Louis City,Missouri,US,2020-02-11,38.635557,-90.243492,0
69957,St. Louis City,Missouri,US,2020-02-12,38.635557,-90.243492,0
73212,St. Louis City,Missouri,US,2020-02-13,38.635557,-90.243492,0
76467,St. Louis City,Missouri,US,2020-02-14,38.635557,-90.243492,0
79722,St. Louis City,Missouri,US,2020-02-15,38.635557,-90.243492,0
82977,St. Louis City,Missouri,US,2020-02-16,38.635557,-90.243492,0
86232,St. Louis City,Missouri,US,2020-02-17,38.635557,-90.243492,0
89487,St. Louis City,Missouri,US,2020-02-18,38.635557,-90.243492,0
92742,St. Louis City,Missouri,US,2020-02-19,38.635557,-90.243492,0
95997,St. Louis City,Missouri,US,2020-02-20,38.635557,-90.243492,0
...,...,...,...,...,...,...,...
183882,St. Louis City,Missouri,US,2020-03-18,38.635557,-90.243492,2
187137,St. Louis City,Missouri,US,2020-03-19,38.635557,-90.243492,2
190392,St. Louis City,Missouri,US,2020-03-20,38.635557,-90.243492,5
193647,St. Louis City,Missouri,US,2020-03-21,38.635557,-90.243492,7
196902,St. Louis City,Missouri,US,2020-03-22,38.635557,-90.243492,10
200157,St. Louis City,Missouri,US,2020-03-23,38.635557,-90.243492,15
203412,St. Louis City,Missouri,US,2020-03-24,38.635557,-90.243492,23
206667,St. Louis City,Missouri,US,2020-03-25,38.635557,-90.243492,44
209922,St. Louis City,Missouri,US,2020-03-26,38.635557,-90.243492,69
213177,St. Louis City,Missouri,US,2020-03-27,38.635557,-90.243492,72
216432,St. Louis City,Missouri,US,2020-03-28,38.635557,-90.243492,95
219687,St. Louis City,Missouri,US,2020-03-29,38.635557,-90.243492,102
222942,St. Louis City,Missouri,US,2020-03-30,38.635557,-90.243492,102
226197,St. Louis City,Missouri,US,2020-03-31,38.635557,-90.243492,150
229452,St. Louis City,Missouri,US,2020-04-01,38.635557,-90.243492,195
232707,St. Louis City,Missouri,US,2020-04-02,38.635557,-90.243492,239
235962,St. Louis City,Missouri,US,2020-04-03,38.635557,-90.243492,239
239217,St. Louis City,Missouri,US,2020-04-04,38.635557,-90.243492,297
242472,St. Louis City,Missouri,US,2020-04-05,38.635557,-90.243492,328
245727,St. Louis City,Missouri,US,2020-04-06,38.635557,-90.243492,358
248982,St. Louis City,Missouri,US,2020-04-07,38.635557,-90.243492,440
252237,St. Louis City,Missouri,US,2020-04-08,38.635557,-90.243492,476
255492,St. Louis City,Missouri,US,2020-04-09,38.635557,-90.243492,514
258747,St. Louis City,Missouri,US,2020-04-10,38.635557,-90.243492,565
262002,St. Louis City,Missouri,US,2020-04-11,38.635557,-90.243492,594
265257,St. Louis City,Missouri,US,2020-04-12,38.635557,-90.243492,645
268512,St. Louis City,Missouri,US,2020-04-13,38.635557,-90.243492,698
271767,St. Louis City,Missouri,US,2020-04-14,38.635557,-90.243492,706
275022,St. Louis City,Missouri,US,2020-04-15,38.635557,-90.243492,723
278277,St. Louis City,Missouri,US,2020-04-16,38.635557,-90.243492,743

In [20]:
# all results from st louis county
df_stcharles = df_mo.loc[df_mo["county"]=="St. Charles",:]
df_stcharles

,county,state,country,date,lat,long,confirmed
1579,St. Charles,Missouri,US,2020-01-22,38.778757,-90.666624,0
4834,St. Charles,Missouri,US,2020-01-23,38.778757,-90.666624,0
8089,St. Charles,Missouri,US,2020-01-24,38.778757,-90.666624,0
11344,St. Charles,Missouri,US,2020-01-25,38.778757,-90.666624,0
14599,St. Charles,Missouri,US,2020-01-26,38.778757,-90.666624,0
17854,St. Charles,Missouri,US,2020-01-27,38.778757,-90.666624,0
21109,St. Charles,Missouri,US,2020-01-28,38.778757,-90.666624,0
24364,St. Charles,Missouri,US,2020-01-29,38.778757,-90.666624,0
27619,St. Charles,Missouri,US,2020-01-30,38.778757,-90.666624,0
30874,St. Charles,Missouri,US,2020-01-31,38.778757,-90.666624,0
34129,St. Charles,Missouri,US,2020-02-01,38.778757,-90.666624,0
37384,St. Charles,Missouri,US,2020-02-02,38.778757,-90.666624,0
40639,St. Charles,Missouri,US,2020-02-03,38.778757,-90.666624,0
43894,St. Charles,Missouri,US,2020-02-04,38.778757,-90.666624,0
47149,St. Charles,Missouri,US,2020-02-05,38.778757,-90.666624,0
50404,St. Charles,Missouri,US,2020-02-06,38.778757,-90.666624,0
53659,St. Charles,Missouri,US,2020-02-07,38.778757,-90.666624,0
56914,St. Charles,Missouri,US,2020-02-08,38.778757,-90.666624,0
60169,St. Charles,Missouri,US,2020-02-09,38.778757,-90.666624,0
63424,St. Charles,Missouri,US,2020-02-10,38.778757,-90.666624,0
66679,St. Charles,Missouri,US,2020-02-11,38.778757,-90.666624,0
69934,St. Charles,Missouri,US,2020-02-12,38.778757,-90.666624,0
73189,St. Charles,Missouri,US,2020-02-13,38.778757,-90.666624,0
76444,St. Charles,Missouri,US,2020-02-14,38.778757,-90.666624,0
79699,St. Charles,Missouri,US,2020-02-15,38.778757,-90.666624,0
82954,St. Charles,Missouri,US,2020-02-16,38.778757,-90.666624,0
86209,St. Charles,Missouri,US,2020-02-17,38.778757,-90.666624,0
89464,St. Charles,Missouri,US,2020-02-18,38.778757,-90.666624,0
92719,St. Charles,Missouri,US,2020-02-19,38.778757,-90.666624,0
95974,St. Charles,Missouri,US,2020-02-20,38.778757,-90.666624,0
...,...,...,...,...,...,...,...
183859,St. Charles,Missouri,US,2020-03-18,38.778757,-90.666624,0
187114,St. Charles,Missouri,US,2020-03-19,38.778757,-90.666624,1
190369,St. Charles,Missouri,US,2020-03-20,38.778757,-90.666624,1
193624,St. Charles,Missouri,US,2020-03-21,38.778757,-90.666624,2
196879,St. Charles,Missouri,US,2020-03-22,38.778757,-90.666624,3
200134,St. Charles,Missouri,US,2020-03-23,38.778757,-90.666624,4
203389,St. Charles,Missouri,US,2020-03-24,38.778757,-90.666624,8
206644,St. Charles,Missouri,US,2020-03-25,38.778757,-90.666624,12
209899,St. Charles,Missouri,US,2020-03-26,38.778757,-90.666624,24
213154,St. Charles,Missouri,US,2020-03-27,38.778757,-90.666624,32
216409,St. Charles,Missouri,US,2020-03-28,38.778757,-90.666624,37
219664,St. Charles,Missouri,US,2020-03-29,38.778757,-90.666624,43
222919,St. Charles,Missouri,US,2020-03-30,38.778757,-90.666624,56
226174,St. Charles,Missouri,US,2020-03-31,38.778757,-90.666624,71
229429,St. Charles,Missouri,US,2020-04-01,38.778757,-90.666624,93
232684,St. Charles,Missouri,US,2020-04-02,38.778757,-90.666624,105
235939,St. Charles,Missouri,US,2020-04-03,38.778757,-90.666624,105
239194,St. Charles,Missouri,US,2020-04-04,38.778757,-90.666624,151
242449,St. Charles,Missouri,US,2020-04-05,38.778757,-90.666624,151
245704,St. Charles,Missouri,US,2020-04-06,38.778757,-90.666624,188
248959,St. Charles,Missouri,US,2020-04-07,38.778757,-90.666624,237
252214,St. Charles,Missouri,US,2020-04-08,38.778757,-90.666624,271
255469,St. Charles,Missouri,US,2020-04-09,38.778757,-90.666624,283
258724,St. Charles,Missouri,US,2020-04-10,38.778757,-90.666624,325
261979,St. Charles,Missouri,US,2020-04-11,38.778757,-90.666624,348
265234,St. Charles,Missouri,US,2020-04-12,38.778757,-90.666624,366
268489,St. Charles,Missouri,US,2020-04-13,38.778757,-90.666624,380
271744,St. Charles,Missouri,US,2020-04-14,38.778757,-90.666624,384
274999,St. Charles,Missouri,US,2020-04-15,38.778757,-90.666624,400
278254,St. Charles,Missouri,US,2020-04-16,38.778757,-90.666624,416