In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'
raw_data = pd.read_csv(url)

In [3]:
raw_data.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20
0,16.0,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316.0,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,113,121,121,128,130,133,133,133,133,135
2,580.0,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,6,6,6,6,6,6,6,6,6,6
3,630.0,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,513,573,620,683,725,788,897,903,923,974
4,850.0,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,43,43,45,45,50,51,51,51,51,51

In [4]:
raw_data.columns

Index(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_', 'Combined_Key', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
       '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20',
       '4/9/20', '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20',
       '4/15/20'],
      dtype='object')

In [5]:
covid_data = raw_data.rename(
columns = {'FIPS':'fips', 'Admin2':'county','Province_State':'state', 'Country_Region':'country', 'Lat':'lat', 'Long_':'long'})
covid_data.head()

,UID,iso2,iso3,code3,fips,county,state,country,lat,long,...,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20
0,16.0,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316.0,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,113,121,121,128,130,133,133,133,133,135
2,580.0,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,6,6,6,6,6,6,6,6,6,6
3,630.0,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,513,573,620,683,725,788,897,903,923,974
4,850.0,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,43,43,45,45,50,51,51,51,51,51

In [6]:
covid_data.columns

Index(['UID', 'iso2', 'iso3', 'code3', 'fips', 'county', 'state', 'country',
       'lat', 'long', 'Combined_Key', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20', '1/30/20',
       '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20', '2/6/20',
       '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
       '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20',
       '4/9/20', '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20',
       '4/15/20'],
      dtype='object')

In [7]:
#only keep columns that we want
# covid_data_select = covid_data[['county', 'state', 'country',
#        'lat', 'long', '1/22/20', '1/23/20', '1/24/20',
#        '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20', '1/30/20',
#        '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20', '2/6/20',
#        '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
#        '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
#        '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
#        '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
#        '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
#        '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
#        '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
#        '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
#        '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
#        '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20',
#        '4/9/20', '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20',
#        '4/15/20']]

# instead we want to drop the specific columns so that it will always work going forward
covid_data_select = covid_data.drop(columns = ['UID', 'iso2', 'iso3', 'code3', 'fips', 'Combined_Key'])

covid_data_select.head()

,county,state,country,lat,long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20
0,NaN,American Samoa,US,-14.2710,-170.1320,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Guam,US,13.4443,144.7937,0,0,0,0,0,...,113,121,121,128,130,133,133,133,133,135
2,NaN,Northern Mariana Islands,US,15.0979,145.6739,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
3,NaN,Puerto Rico,US,18.2208,-66.5901,0,0,0,0,0,...,513,573,620,683,725,788,897,903,923,974
4,NaN,Virgin Islands,US,18.3358,-64.8963,0,0,0,0,0,...,43,43,45,45,50,51,51,51,51,51

In [8]:
# use melt to turn date columns into data rows
# id_vars is all the columns not converted
# var is the column that gets converted to a row
# val is the value from those columns
keep_columns = ['county', 'state', 'country', 'lat', 'long']
covid_data_flat = (covid_data_select.melt(id_vars = keep_columns, var_name = 'date_raw', value_name = 'confirmed' ))
covid_data_flat.head()

,county,state,country,lat,long,date_raw,confirmed
0,NaN,American Samoa,US,-14.2710,-170.1320,1/22/20,0
1,NaN,Guam,US,13.4443,144.7937,1/22/20,0
2,NaN,Northern Mariana Islands,US,15.0979,145.6739,1/22/20,0
3,NaN,Puerto Rico,US,18.2208,-66.5901,1/22/20,0
4,NaN,Virgin Islands,US,18.3358,-64.8963,1/22/20,0

In [9]:
# convert string dates into date time
covid_data_flat.filter(['date_raw'])

       date_raw
0       1/22/20
1       1/22/20
2       1/22/20
3       1/22/20
4       1/22/20
5       1/22/20
6       1/22/20
7       1/22/20
8       1/22/20
9       1/22/20
10      1/22/20
11      1/22/20
12      1/22/20
13      1/22/20
14      1/22/20
15      1/22/20
16      1/22/20
17      1/22/20
18      1/22/20
19      1/22/20
20      1/22/20
21      1/22/20
22      1/22/20
23      1/22/20
24      1/22/20
25      1/22/20
26      1/22/20
27      1/22/20
28      1/22/20
29      1/22/20
...         ...
276730  4/15/20
276731  4/15/20
276732  4/15/20
276733  4/15/20
276734  4/15/20
276735  4/15/20
276736  4/15/20
276737  4/15/20
276738  4/15/20
276739  4/15/20
276740  4/15/20
276741  4/15/20
276742  4/15/20
276743  4/15/20
276744  4/15/20
276745  4/15/20
276746  4/15/20
276747  4/15/20
276748  4/15/20
276749  4/15/20
276750  4/15/20
276751  4/15/20
276752  4/15/20
276753  4/15/20
276754  4/15/20
276755  4/15/20
276756  4/15/20
276757  4/15/20
276758  4/15/20
276759  4/15/20

[276760 rows x 1 columns]

In [10]:
covid_data_flat.assign(date = pd.to_datetime(covid_data_flat.date_raw, format = '%m/%d/%y')).filter(['date', 'date_raw'])

             date date_raw
0      2020-01-22  1/22/20
1      2020-01-22  1/22/20
2      2020-01-22  1/22/20
3      2020-01-22  1/22/20
4      2020-01-22  1/22/20
5      2020-01-22  1/22/20
6      2020-01-22  1/22/20
7      2020-01-22  1/22/20
8      2020-01-22  1/22/20
9      2020-01-22  1/22/20
10     2020-01-22  1/22/20
11     2020-01-22  1/22/20
12     2020-01-22  1/22/20
13     2020-01-22  1/22/20
14     2020-01-22  1/22/20
15     2020-01-22  1/22/20
16     2020-01-22  1/22/20
17     2020-01-22  1/22/20
18     2020-01-22  1/22/20
19     2020-01-22  1/22/20
20     2020-01-22  1/22/20
21     2020-01-22  1/22/20
22     2020-01-22  1/22/20
23     2020-01-22  1/22/20
24     2020-01-22  1/22/20
25     2020-01-22  1/22/20
26     2020-01-22  1/22/20
27     2020-01-22  1/22/20
28     2020-01-22  1/22/20
29     2020-01-22  1/22/20
...           ...      ...
276730 2020-04-15  4/15/20
276731 2020-04-15  4/15/20
276732 2020-04-15  4/15/20
276733 2020-04-15  4/15/20
276734 2020-04-15  4/15/20
276735 2020-04-15  4/15/20
276736 2020-04-15  4/15/20
276737 2020-04-15  4/15/20
276738 2020-04-15  4/15/20
276739 2020-04-15  4/15/20
276740 2020-04-15  4/15/20
276741 2020-04-15  4/15/20
276742 2020-04-15  4/15/20
276743 2020-04-15  4/15/20
276744 2020-04-15  4/15/20
276745 2020-04-15  4/15/20
276746 2020-04-15  4/15/20
276747 2020-04-15  4/15/20
276748 2020-04-15  4/15/20
276749 2020-04-15  4/15/20
276750 2020-04-15  4/15/20
276751 2020-04-15  4/15/20
276752 2020-04-15  4/15/20
276753 2020-04-15  4/15/20
276754 2020-04-15  4/15/20
276755 2020-04-15  4/15/20
276756 2020-04-15  4/15/20
276757 2020-04-15  4/15/20
276758 2020-04-15  4/15/20
276759 2020-04-15  4/15/20

[276760 rows x 2 columns]

In [11]:
# group by date to remove duplicates, add confirmed column
(covid_data_flat
.assign(date = pd.to_datetime(covid_data_flat.date_raw, format = '%m/%d/%y'))
.filter(['date', 'date_raw', 'confirmed'])
.groupby(['date', 'date_raw'])
.agg('sum')
.sort_values('date')
)

                     confirmed
date       date_raw
2020-01-22 1/22/20           1
2020-01-23 1/23/20           1
2020-01-24 1/24/20           2
2020-01-25 1/25/20           2
2020-01-26 1/26/20           5
2020-01-27 1/27/20           5
2020-01-28 1/28/20           5
2020-01-29 1/29/20           5
2020-01-30 1/30/20           5
2020-01-31 1/31/20           7
2020-02-01 2/1/20            8
2020-02-02 2/2/20            8
2020-02-03 2/3/20           11
2020-02-04 2/4/20           11
2020-02-05 2/5/20           11
2020-02-06 2/6/20           11
2020-02-07 2/7/20           11
2020-02-08 2/8/20           11
2020-02-09 2/9/20           11
2020-02-10 2/10/20          11
2020-02-11 2/11/20          12
2020-02-12 2/12/20          12
2020-02-13 2/13/20          13
2020-02-14 2/14/20          13
2020-02-15 2/15/20          13
2020-02-16 2/16/20          13
2020-02-17 2/17/20          13
2020-02-18 2/18/20          13
2020-02-19 2/19/20          13
2020-02-20 2/20/20          13
...                        ...
2020-03-17 3/17/20        6096
2020-03-18 3/18/20        8873
2020-03-19 3/19/20       14094
2020-03-20 3/20/20       19403
2020-03-21 3/21/20       25725
2020-03-22 3/22/20       33634
2020-03-23 3/23/20       43663
2020-03-24 3/24/20       53736
2020-03-25 3/25/20       65778
2020-03-26 3/26/20       83836
2020-03-27 3/27/20      101657
2020-03-28 3/28/20      121465
2020-03-29 3/29/20      140909
2020-03-30 3/30/20      161831
2020-03-31 3/31/20      188172
2020-04-01 4/1/20       213362
2020-04-02 4/2/20       243762
2020-04-03 4/3/20       275586
2020-04-04 4/4/20       308853
2020-04-05 4/5/20       337072
2020-04-06 4/6/20       366667
2020-04-07 4/7/20       396223
2020-04-08 4/8/20       429052
2020-04-09 4/9/20       461437
2020-04-10 4/10/20      496535
2020-04-11 4/11/20      526396
2020-04-12 4/12/20      555313
2020-04-13 4/13/20      580619
2020-04-14 4/14/20      607670
2020-04-15 4/15/20      636350

[85 rows x 1 columns]

In [12]:
# make a backup before assigning date
covid_data_backup_before_date_conversion = covid_data_flat.copy()

In [13]:
#now just use the assign tested above but applied to main dataframe to add new date column
covid_data_flat = covid_data_flat.assign(date = pd.to_datetime(covid_data_flat.date_raw, format = '%m/%d/%y'))
covid_data_flat.head()

,county,state,country,lat,long,date_raw,confirmed,date
0,NaN,American Samoa,US,-14.2710,-170.1320,1/22/20,0,2020-01-22
1,NaN,Guam,US,13.4443,144.7937,1/22/20,0,2020-01-22
2,NaN,Northern Mariana Islands,US,15.0979,145.6739,1/22/20,0,2020-01-22
3,NaN,Puerto Rico,US,18.2208,-66.5901,1/22/20,0,2020-01-22
4,NaN,Virgin Islands,US,18.3358,-64.8963,1/22/20,0,2020-01-22

In [14]:
# filter columns that we want
covid_data_final = covid_data_flat.filter(['county','state', 'country', 'date', 'lat', 'long', 'confirmed'])
covid_data_final.head()

,county,state,country,date,lat,long,confirmed
0,NaN,American Samoa,US,2020-01-22,-14.2710,-170.1320,0
1,NaN,Guam,US,2020-01-22,13.4443,144.7937,0
2,NaN,Northern Mariana Islands,US,2020-01-22,15.0979,145.6739,0
3,NaN,Puerto Rico,US,2020-01-22,18.2208,-66.5901,0
4,NaN,Virgin Islands,US,2020-01-22,18.3358,-64.8963,0

In [15]:
# add a sort
covid_data_final = covid_data_final.sort_values(['country','state','county', 'lat', 'long','date'])
covid_data_final.head()

        county    state country       date        lat       long  confirmed
5      Autauga  Alabama      US 2020-01-22  32.539527 -86.644082          0
3261   Autauga  Alabama      US 2020-01-23  32.539527 -86.644082          0
6517   Autauga  Alabama      US 2020-01-24  32.539527 -86.644082          0
9773   Autauga  Alabama      US 2020-01-25  32.539527 -86.644082          0
13029  Autauga  Alabama      US 2020-01-26  32.539527 -86.644082          0

In [16]:
df_mo = covid_data_final.loc[covid_data_final["state"]=="Missouri",:]
df_mo.head()

      county     state country       date        lat       long  confirmed
1488   Adair  Missouri      US 2020-01-22  40.190586 -92.600782          0
4744   Adair  Missouri      US 2020-01-23  40.190586 -92.600782          0
8000   Adair  Missouri      US 2020-01-24  40.190586 -92.600782          0
11256  Adair  Missouri      US 2020-01-25  40.190586 -92.600782          0
14512  Adair  Missouri      US 2020-01-26  40.190586 -92.600782          0

In [17]:
# all results from st louis county
df_stlco = df_mo.loc[df_mo["county"]=="St. Louis",:]
df_stlco

           county     state country       date      lat       long  confirmed
1583    St. Louis  Missouri      US 2020-01-22  38.6377 -90.445837          0
4839    St. Louis  Missouri      US 2020-01-23  38.6377 -90.445837          0
8095    St. Louis  Missouri      US 2020-01-24  38.6377 -90.445837          0
11351   St. Louis  Missouri      US 2020-01-25  38.6377 -90.445837          0
14607   St. Louis  Missouri      US 2020-01-26  38.6377 -90.445837          0
17863   St. Louis  Missouri      US 2020-01-27  38.6377 -90.445837          0
21119   St. Louis  Missouri      US 2020-01-28  38.6377 -90.445837          0
24375   St. Louis  Missouri      US 2020-01-29  38.6377 -90.445837          0
27631   St. Louis  Missouri      US 2020-01-30  38.6377 -90.445837          0
30887   St. Louis  Missouri      US 2020-01-31  38.6377 -90.445837          0
34143   St. Louis  Missouri      US 2020-02-01  38.6377 -90.445837          0
37399   St. Louis  Missouri      US 2020-02-02  38.6377 -90.445837          0
40655   St. Louis  Missouri      US 2020-02-03  38.6377 -90.445837          0
43911   St. Louis  Missouri      US 2020-02-04  38.6377 -90.445837          0
47167   St. Louis  Missouri      US 2020-02-05  38.6377 -90.445837          0
50423   St. Louis  Missouri      US 2020-02-06  38.6377 -90.445837          0
53679   St. Louis  Missouri      US 2020-02-07  38.6377 -90.445837          0
56935   St. Louis  Missouri      US 2020-02-08  38.6377 -90.445837          0
60191   St. Louis  Missouri      US 2020-02-09  38.6377 -90.445837          0
63447   St. Louis  Missouri      US 2020-02-10  38.6377 -90.445837          0
66703   St. Louis  Missouri      US 2020-02-11  38.6377 -90.445837          0
69959   St. Louis  Missouri      US 2020-02-12  38.6377 -90.445837          0
73215   St. Louis  Missouri      US 2020-02-13  38.6377 -90.445837          0
76471   St. Louis  Missouri      US 2020-02-14  38.6377 -90.445837          0
79727   St. Louis  Missouri      US 2020-02-15  38.6377 -90.445837          0
82983   St. Louis  Missouri      US 2020-02-16  38.6377 -90.445837          0
86239   St. Louis  Missouri      US 2020-02-17  38.6377 -90.445837          0
89495   St. Louis  Missouri      US 2020-02-18  38.6377 -90.445837          0
92751   St. Louis  Missouri      US 2020-02-19  38.6377 -90.445837          0
96007   St. Louis  Missouri      US 2020-02-20  38.6377 -90.445837          0
...           ...       ...     ...        ...      ...        ...        ...
180663  St. Louis  Missouri      US 2020-03-17  38.6377 -90.445837          3
183919  St. Louis  Missouri      US 2020-03-18  38.6377 -90.445837          4
187175  St. Louis  Missouri      US 2020-03-19  38.6377 -90.445837          8
190431  St. Louis  Missouri      US 2020-03-20  38.6377 -90.445837         10
193687  St. Louis  Missouri      US 2020-03-21  38.6377 -90.445837         17
196943  St. Louis  Missouri      US 2020-03-22  38.6377 -90.445837         22
200199  St. Louis  Missouri      US 2020-03-23  38.6377 -90.445837         69
203455  St. Louis  Missouri      US 2020-03-24  38.6377 -90.445837        100
206711  St. Louis  Missouri      US 2020-03-25  38.6377 -90.445837        129
209967  St. Louis  Missouri      US 2020-03-26  38.6377 -90.445837        173
213223  St. Louis  Missouri      US 2020-03-27  38.6377 -90.445837        247
216479  St. Louis  Missouri      US 2020-03-28  38.6377 -90.445837        313
219735  St. Louis  Missouri      US 2020-03-29  38.6377 -90.445837        336
222991  St. Louis  Missouri      US 2020-03-30  38.6377 -90.445837        366
226247  St. Louis  Missouri      US 2020-03-31  38.6377 -90.445837        492
229503  St. Louis  Missouri      US 2020-04-01  38.6377 -90.445837        605
232759  St. Louis  Missouri      US 2020-04-02  38.6377 -90.445837        712
236015  St. Louis  Missouri      US 2020-04-03  38.6377 -90.445837        712
239271  St. Louis  Missouri      US 2020-04-04  38.6377 -90.445837        864
242527  St. Louis  Missouri      US 2020-04-05  38.6377 -90.445837        864
245783  St. Louis  Missouri      US 2020-04-06  38.6377 -90.445837       1033
249039  St. Louis  Missouri      US 2020-04-07  38.6377 -90.445837       1203
252295  St. Louis  Missouri      US 2020-04-08  38.6377 -90.445837       1203
255551  St. Louis  Missouri      US 2020-04-09  38.6377 -90.445837       1302
258807  St. Louis  Missouri      US 2020-04-10  38.6377 -90.445837       1498
262063  St. Louis  Missouri      US 2020-04-11  38.6377 -90.445837       1568
265319  St. Louis  Missouri      US 2020-04-12  38.6377 -90.445837       1633
268575  St. Louis  Missouri      US 2020-04-13  38.6377 -90.445837       1724
271831  St. Louis  Missouri      US 2020-04-14  38.6377 -90.445837       1851
275087  St. Louis  Missouri      US 2020-04-15  38.6377 -90.445837       1851

[85 rows x 7 columns]

In [18]:
counties = df_mo.filter(['county']).drop_duplicates()
counties

              county
1488           Adair
1489          Andrew
1490        Atchison
1491         Audrain
1492           Barry
1493          Barton
1494           Bates
1495          Benton
1496       Bollinger
1497           Boone
1498        Buchanan
1499          Butler
1500        Caldwell
1501        Callaway
1502          Camden
1503  Cape Girardeau
1504         Carroll
1505          Carter
1506            Cass
1507           Cedar
1508        Chariton
1509       Christian
1510           Clark
1511            Clay
1512         Clinton
1513            Cole
1514          Cooper
1515        Crawford
1516            Dade
1517          Dallas
...              ...
1574           Ralls
1575        Randolph
1576             Ray
1577        Reynolds
1578          Ripley
1584          Saline
1585        Schuyler
1586        Scotland
1587           Scott
1588         Shannon
1589          Shelby
1579     St. Charles
1580       St. Clair
1582    St. Francois
1583       St. Louis
1602  St. Louis City
1581  Ste. Genevieve
1590        Stoddard
1591           Stone
1592        Sullivan
1593           Taney
1594           Texas
3226      Unassigned
1595          Vernon
1596          Warren
1597      Washington
1598           Wayne
1599         Webster
1600           Worth
1601          Wright

[118 rows x 1 columns]

In [19]:
# all results from st louis county
df_stlcity = df_mo.loc[df_mo["county"]=="St. Louis City",:]
df_stlcity

,county,state,country,date,lat,long,confirmed
1602,St. Louis City,Missouri,US,2020-01-22,38.635557,-90.243492,0
4858,St. Louis City,Missouri,US,2020-01-23,38.635557,-90.243492,0
8114,St. Louis City,Missouri,US,2020-01-24,38.635557,-90.243492,0
11370,St. Louis City,Missouri,US,2020-01-25,38.635557,-90.243492,0
14626,St. Louis City,Missouri,US,2020-01-26,38.635557,-90.243492,0
17882,St. Louis City,Missouri,US,2020-01-27,38.635557,-90.243492,0
21138,St. Louis City,Missouri,US,2020-01-28,38.635557,-90.243492,0
24394,St. Louis City,Missouri,US,2020-01-29,38.635557,-90.243492,0
27650,St. Louis City,Missouri,US,2020-01-30,38.635557,-90.243492,0
30906,St. Louis City,Missouri,US,2020-01-31,38.635557,-90.243492,0
34162,St. Louis City,Missouri,US,2020-02-01,38.635557,-90.243492,0
37418,St. Louis City,Missouri,US,2020-02-02,38.635557,-90.243492,0
40674,St. Louis City,Missouri,US,2020-02-03,38.635557,-90.243492,0
43930,St. Louis City,Missouri,US,2020-02-04,38.635557,-90.243492,0
47186,St. Louis City,Missouri,US,2020-02-05,38.635557,-90.243492,0
50442,St. Louis City,Missouri,US,2020-02-06,38.635557,-90.243492,0
53698,St. Louis City,Missouri,US,2020-02-07,38.635557,-90.243492,0
56954,St. Louis City,Missouri,US,2020-02-08,38.635557,-90.243492,0
60210,St. Louis City,Missouri,US,2020-02-09,38.635557,-90.243492,0
63466,St. Louis City,Missouri,US,2020-02-10,38.635557,-90.243492,0
66722,St. Louis City,Missouri,US,2020-02-11,38.635557,-90.243492,0
69978,St. Louis City,Missouri,US,2020-02-12,38.635557,-90.243492,0
73234,St. Louis City,Missouri,US,2020-02-13,38.635557,-90.243492,0
76490,St. Louis City,Missouri,US,2020-02-14,38.635557,-90.243492,0
79746,St. Louis City,Missouri,US,2020-02-15,38.635557,-90.243492,0
83002,St. Louis City,Missouri,US,2020-02-16,38.635557,-90.243492,0
86258,St. Louis City,Missouri,US,2020-02-17,38.635557,-90.243492,0
89514,St. Louis City,Missouri,US,2020-02-18,38.635557,-90.243492,0
92770,St. Louis City,Missouri,US,2020-02-19,38.635557,-90.243492,0
96026,St. Louis City,Missouri,US,2020-02-20,38.635557,-90.243492,0
...,...,...,...,...,...,...,...
180682,St. Louis City,Missouri,US,2020-03-17,38.635557,-90.243492,1
183938,St. Louis City,Missouri,US,2020-03-18,38.635557,-90.243492,2
187194,St. Louis City,Missouri,US,2020-03-19,38.635557,-90.243492,2
190450,St. Louis City,Missouri,US,2020-03-20,38.635557,-90.243492,5
193706,St. Louis City,Missouri,US,2020-03-21,38.635557,-90.243492,7
196962,St. Louis City,Missouri,US,2020-03-22,38.635557,-90.243492,10
200218,St. Louis City,Missouri,US,2020-03-23,38.635557,-90.243492,15
203474,St. Louis City,Missouri,US,2020-03-24,38.635557,-90.243492,23
206730,St. Louis City,Missouri,US,2020-03-25,38.635557,-90.243492,44
209986,St. Louis City,Missouri,US,2020-03-26,38.635557,-90.243492,69
213242,St. Louis City,Missouri,US,2020-03-27,38.635557,-90.243492,72
216498,St. Louis City,Missouri,US,2020-03-28,38.635557,-90.243492,95
219754,St. Louis City,Missouri,US,2020-03-29,38.635557,-90.243492,102
223010,St. Louis City,Missouri,US,2020-03-30,38.635557,-90.243492,102
226266,St. Louis City,Missouri,US,2020-03-31,38.635557,-90.243492,150
229522,St. Louis City,Missouri,US,2020-04-01,38.635557,-90.243492,195
232778,St. Louis City,Missouri,US,2020-04-02,38.635557,-90.243492,239
236034,St. Louis City,Missouri,US,2020-04-03,38.635557,-90.243492,239
239290,St. Louis City,Missouri,US,2020-04-04,38.635557,-90.243492,297
242546,St. Louis City,Missouri,US,2020-04-05,38.635557,-90.243492,328
245802,St. Louis City,Missouri,US,2020-04-06,38.635557,-90.243492,358
249058,St. Louis City,Missouri,US,2020-04-07,38.635557,-90.243492,440
252314,St. Louis City,Missouri,US,2020-04-08,38.635557,-90.243492,476
255570,St. Louis City,Missouri,US,2020-04-09,38.635557,-90.243492,514
258826,St. Louis City,Missouri,US,2020-04-10,38.635557,-90.243492,565
262082,St. Louis City,Missouri,US,2020-04-11,38.635557,-90.243492,594
265338,St. Louis City,Missouri,US,2020-04-12,38.635557,-90.243492,645
268594,St. Louis City,Missouri,US,2020-04-13,38.635557,-90.243492,698
271850,St. Louis City,Missouri,US,2020-04-14,38.635557,-90.243492,706
275106,St. Louis City,Missouri,US,2020-04-15,38.635557,-90.243492,723