In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'
raw_data = pd.read_csv(url)

In [3]:
raw_data.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,32,37,45,51,55,56,58,69,77,82
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,0,0,0,0,0,0,0,2,6,6
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,39,51,64,79,100,127,174,239,286,316
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,17,17,17,19,22,0,0,30,30,30

In [4]:
raw_data.columns

Index(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_', 'Combined_Key', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
       '4/2/20'],
      dtype='object')

In [11]:
covid_data = raw_data.rename(
columns = {'FIPS':'fips', 'Admin2':'county','Province_State':'state', 'Country_Region':'country', 'Lat':'lat', 'Long_':'long'})
covid_data.head()

,UID,iso2,iso3,code3,fips,county,state,country,lat,long,...,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,32,37,45,51,55,56,58,69,77,82
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,0,0,0,0,0,0,0,2,6,6
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,39,51,64,79,100,127,174,239,286,316
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,17,17,17,19,22,0,0,30,30,30

In [12]:
covid_data.columns

Index(['UID', 'iso2', 'iso3', 'code3', 'fips', 'county', 'state', 'country',
       'lat', 'long', 'Combined_Key', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20', '1/30/20',
       '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20', '2/6/20',
       '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
       '4/2/20'],
      dtype='object')

In [17]:
#only keep columns that we want
covid_data_select = covid_data[['county', 'state', 'country',
       'lat', 'long', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20', '1/30/20',
       '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20', '2/6/20',
       '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
       '4/2/20']]
covid_data_select.head()

,county,state,country,lat,long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20
0,NaN,American Samoa,US,-14.2710,-170.1320,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Guam,US,13.4443,144.7937,0,0,0,0,0,...,32,37,45,51,55,56,58,69,77,82
2,NaN,Northern Mariana Islands,US,15.0979,145.6739,0,0,0,0,0,...,0,0,0,0,0,0,0,2,6,6
3,NaN,Puerto Rico,US,18.2208,-66.5901,0,0,0,0,0,...,39,51,64,79,100,127,174,239,286,316
4,NaN,Virgin Islands,US,18.3358,-64.8963,0,0,0,0,0,...,17,17,17,19,22,0,0,30,30,30

In [18]:
# use melt to turn date columns into data rows
# id_vars is all the columns not converted
# var is the column that gets converted to a row
# val is the value from those columns
keep_columns = ['county', 'state', 'country', 'lat', 'long']
covid_data_flat = (covid_data_select.melt(id_vars = keep_columns, var_name = 'date_raw', value_name = 'confirmed' ))
covid_data_flat.head()

,county,state,country,lat,long,date_raw,confirmed
0,NaN,American Samoa,US,-14.2710,-170.1320,1/22/20,0
1,NaN,Guam,US,13.4443,144.7937,1/22/20,0
2,NaN,Northern Mariana Islands,US,15.0979,145.6739,1/22/20,0
3,NaN,Puerto Rico,US,18.2208,-66.5901,1/22/20,0
4,NaN,Virgin Islands,US,18.3358,-64.8963,1/22/20,0

In [19]:
# convert string dates into date time
covid_data_flat.filter(['date_raw'])

       date_raw
0       1/22/20
1       1/22/20
2       1/22/20
3       1/22/20
4       1/22/20
5       1/22/20
6       1/22/20
7       1/22/20
8       1/22/20
9       1/22/20
10      1/22/20
11      1/22/20
12      1/22/20
13      1/22/20
14      1/22/20
15      1/22/20
16      1/22/20
17      1/22/20
18      1/22/20
19      1/22/20
20      1/22/20
21      1/22/20
22      1/22/20
23      1/22/20
24      1/22/20
25      1/22/20
26      1/22/20
27      1/22/20
28      1/22/20
29      1/22/20
...         ...
234186   4/2/20
234187   4/2/20
234188   4/2/20
234189   4/2/20
234190   4/2/20
234191   4/2/20
234192   4/2/20
234193   4/2/20
234194   4/2/20
234195   4/2/20
234196   4/2/20
234197   4/2/20
234198   4/2/20
234199   4/2/20
234200   4/2/20
234201   4/2/20
234202   4/2/20
234203   4/2/20
234204   4/2/20
234205   4/2/20
234206   4/2/20
234207   4/2/20
234208   4/2/20
234209   4/2/20
234210   4/2/20
234211   4/2/20
234212   4/2/20
234213   4/2/20
234214   4/2/20
234215   4/2/20

[234216 rows x 1 columns]

In [20]:
covid_data_flat.assign(date = pd.to_datetime(covid_data_flat.date_raw, format = '%m/%d/%y')).filter(['date', 'date_raw'])

             date date_raw
0      2020-01-22  1/22/20
1      2020-01-22  1/22/20
2      2020-01-22  1/22/20
3      2020-01-22  1/22/20
4      2020-01-22  1/22/20
5      2020-01-22  1/22/20
6      2020-01-22  1/22/20
7      2020-01-22  1/22/20
8      2020-01-22  1/22/20
9      2020-01-22  1/22/20
10     2020-01-22  1/22/20
11     2020-01-22  1/22/20
12     2020-01-22  1/22/20
13     2020-01-22  1/22/20
14     2020-01-22  1/22/20
15     2020-01-22  1/22/20
16     2020-01-22  1/22/20
17     2020-01-22  1/22/20
18     2020-01-22  1/22/20
19     2020-01-22  1/22/20
20     2020-01-22  1/22/20
21     2020-01-22  1/22/20
22     2020-01-22  1/22/20
23     2020-01-22  1/22/20
24     2020-01-22  1/22/20
25     2020-01-22  1/22/20
26     2020-01-22  1/22/20
27     2020-01-22  1/22/20
28     2020-01-22  1/22/20
29     2020-01-22  1/22/20
...           ...      ...
234186 2020-04-02   4/2/20
234187 2020-04-02   4/2/20
234188 2020-04-02   4/2/20
234189 2020-04-02   4/2/20
234190 2020-04-02   4/2/20
234191 2020-04-02   4/2/20
234192 2020-04-02   4/2/20
234193 2020-04-02   4/2/20
234194 2020-04-02   4/2/20
234195 2020-04-02   4/2/20
234196 2020-04-02   4/2/20
234197 2020-04-02   4/2/20
234198 2020-04-02   4/2/20
234199 2020-04-02   4/2/20
234200 2020-04-02   4/2/20
234201 2020-04-02   4/2/20
234202 2020-04-02   4/2/20
234203 2020-04-02   4/2/20
234204 2020-04-02   4/2/20
234205 2020-04-02   4/2/20
234206 2020-04-02   4/2/20
234207 2020-04-02   4/2/20
234208 2020-04-02   4/2/20
234209 2020-04-02   4/2/20
234210 2020-04-02   4/2/20
234211 2020-04-02   4/2/20
234212 2020-04-02   4/2/20
234213 2020-04-02   4/2/20
234214 2020-04-02   4/2/20
234215 2020-04-02   4/2/20

[234216 rows x 2 columns]

In [21]:
# group by date to remove duplicates, add confirmed column
(covid_data_flat
.assign(date = pd.to_datetime(covid_data_flat.date_raw, format = '%m/%d/%y'))
.filter(['date', 'date_raw', 'confirmed'])
.groupby(['date', 'date_raw'])
.agg('sum')
.sort_values('date')
)

                     confirmed
date       date_raw
2020-01-22 1/22/20           1
2020-01-23 1/23/20           1
2020-01-24 1/24/20           2
2020-01-25 1/25/20           2
2020-01-26 1/26/20           5
2020-01-27 1/27/20           5
2020-01-28 1/28/20           5
2020-01-29 1/29/20           5
2020-01-30 1/30/20           5
2020-01-31 1/31/20           7
2020-02-01 2/1/20            8
2020-02-02 2/2/20            8
2020-02-03 2/3/20           11
2020-02-04 2/4/20           11
2020-02-05 2/5/20           11
2020-02-06 2/6/20           11
2020-02-07 2/7/20           11
2020-02-08 2/8/20           11
2020-02-09 2/9/20           11
2020-02-10 2/10/20          11
2020-02-11 2/11/20          12
2020-02-12 2/12/20          12
2020-02-13 2/13/20          13
2020-02-14 2/14/20          13
2020-02-15 2/15/20          13
2020-02-16 2/16/20          13
2020-02-17 2/17/20          13
2020-02-18 2/18/20          13
2020-02-19 2/19/20          13
2020-02-20 2/20/20          13
...                        ...
2020-03-04 3/4/20          104
2020-03-05 3/5/20          172
2020-03-06 3/6/20          217
2020-03-07 3/7/20          336
2020-03-08 3/8/20          450
2020-03-09 3/9/20          514
2020-03-10 3/10/20         708
2020-03-11 3/11/20        1105
2020-03-12 3/12/20        1557
2020-03-13 3/13/20        2147
2020-03-14 3/14/20        2857
2020-03-15 3/15/20        2918
2020-03-16 3/16/20        4307
2020-03-17 3/17/20        6096
2020-03-18 3/18/20        8873
2020-03-19 3/19/20       14024
2020-03-20 3/20/20       19230
2020-03-21 3/21/20       25627
2020-03-22 3/22/20       33621
2020-03-23 3/23/20       43663
2020-03-24 3/24/20       53736
2020-03-25 3/25/20       65778
2020-03-26 3/26/20       83836
2020-03-27 3/27/20      101657
2020-03-28 3/28/20      121478
2020-03-29 3/29/20      140886
2020-03-30 3/30/20      161807
2020-03-31 3/31/20      188172
2020-04-01 4/1/20       213362
2020-04-02 4/2/20       243453

[72 rows x 1 columns]

In [22]:
# make a backup before assigning date
covid_data_backup_before_date_conversion = covid_data_flat.copy()

In [23]:
#now just use the assign tested above but applied to main dataframe to add new date column
covid_data_flat = covid_data_flat.assign(date = pd.to_datetime(covid_data_flat.date_raw, format = '%m/%d/%y'))
covid_data_flat.head()

,county,state,country,lat,long,date_raw,confirmed,date
0,NaN,American Samoa,US,-14.2710,-170.1320,1/22/20,0,2020-01-22
1,NaN,Guam,US,13.4443,144.7937,1/22/20,0,2020-01-22
2,NaN,Northern Mariana Islands,US,15.0979,145.6739,1/22/20,0,2020-01-22
3,NaN,Puerto Rico,US,18.2208,-66.5901,1/22/20,0,2020-01-22
4,NaN,Virgin Islands,US,18.3358,-64.8963,1/22/20,0,2020-01-22

In [27]:
# filter columns that we want
covid_data_final = covid_data_flat.filter(['county','state', 'country', 'date', 'lat', 'long', 'confirmed'])
covid_data_final.head()

,county,state,country,date,lat,long,confirmed
0,NaN,American Samoa,US,2020-01-22,-14.2710,-170.1320,0
1,NaN,Guam,US,2020-01-22,13.4443,144.7937,0
2,NaN,Northern Mariana Islands,US,2020-01-22,15.0979,145.6739,0
3,NaN,Puerto Rico,US,2020-01-22,18.2208,-66.5901,0
4,NaN,Virgin Islands,US,2020-01-22,18.3358,-64.8963,0

In [28]:
# add a sort
covid_data_final = covid_data_final.sort_values(['country','state','county', 'lat', 'long','date'])
covid_data_final.head()

        county    state country       date        lat       long  confirmed
5      Autauga  Alabama      US 2020-01-22  32.539527 -86.644082          0
3258   Autauga  Alabama      US 2020-01-23  32.539527 -86.644082          0
6511   Autauga  Alabama      US 2020-01-24  32.539527 -86.644082          0
9764   Autauga  Alabama      US 2020-01-25  32.539527 -86.644082          0
13017  Autauga  Alabama      US 2020-01-26  32.539527 -86.644082          0

In [34]:
df_mo = covid_data_final.loc[covid_data_final["state"]=="Missouri",:]
df_mo.head()

      county     state country       date        lat       long  confirmed
1488   Adair  Missouri      US 2020-01-22  40.190586 -92.600782          0
4741   Adair  Missouri      US 2020-01-23  40.190586 -92.600782          0
7994   Adair  Missouri      US 2020-01-24  40.190586 -92.600782          0
11247  Adair  Missouri      US 2020-01-25  40.190586 -92.600782          0
14500  Adair  Missouri      US 2020-01-26  40.190586 -92.600782          0

In [37]:
# all results from st louis county
df_stlco = df_mo.loc[df_mo["county"]=="St. Louis",:]
df_stlco

           county     state country       date      lat       long  confirmed
1583    St. Louis  Missouri      US 2020-01-22  38.6377 -90.445837          0
4836    St. Louis  Missouri      US 2020-01-23  38.6377 -90.445837          0
8089    St. Louis  Missouri      US 2020-01-24  38.6377 -90.445837          0
11342   St. Louis  Missouri      US 2020-01-25  38.6377 -90.445837          0
14595   St. Louis  Missouri      US 2020-01-26  38.6377 -90.445837          0
17848   St. Louis  Missouri      US 2020-01-27  38.6377 -90.445837          0
21101   St. Louis  Missouri      US 2020-01-28  38.6377 -90.445837          0
24354   St. Louis  Missouri      US 2020-01-29  38.6377 -90.445837          0
27607   St. Louis  Missouri      US 2020-01-30  38.6377 -90.445837          0
30860   St. Louis  Missouri      US 2020-01-31  38.6377 -90.445837          0
34113   St. Louis  Missouri      US 2020-02-01  38.6377 -90.445837          0
37366   St. Louis  Missouri      US 2020-02-02  38.6377 -90.445837          0
40619   St. Louis  Missouri      US 2020-02-03  38.6377 -90.445837          0
43872   St. Louis  Missouri      US 2020-02-04  38.6377 -90.445837          0
47125   St. Louis  Missouri      US 2020-02-05  38.6377 -90.445837          0
50378   St. Louis  Missouri      US 2020-02-06  38.6377 -90.445837          0
53631   St. Louis  Missouri      US 2020-02-07  38.6377 -90.445837          0
56884   St. Louis  Missouri      US 2020-02-08  38.6377 -90.445837          0
60137   St. Louis  Missouri      US 2020-02-09  38.6377 -90.445837          0
63390   St. Louis  Missouri      US 2020-02-10  38.6377 -90.445837          0
66643   St. Louis  Missouri      US 2020-02-11  38.6377 -90.445837          0
69896   St. Louis  Missouri      US 2020-02-12  38.6377 -90.445837          0
73149   St. Louis  Missouri      US 2020-02-13  38.6377 -90.445837          0
76402   St. Louis  Missouri      US 2020-02-14  38.6377 -90.445837          0
79655   St. Louis  Missouri      US 2020-02-15  38.6377 -90.445837          0
82908   St. Louis  Missouri      US 2020-02-16  38.6377 -90.445837          0
86161   St. Louis  Missouri      US 2020-02-17  38.6377 -90.445837          0
89414   St. Louis  Missouri      US 2020-02-18  38.6377 -90.445837          0
92667   St. Louis  Missouri      US 2020-02-19  38.6377 -90.445837          0
95920   St. Louis  Missouri      US 2020-02-20  38.6377 -90.445837          0
...           ...       ...     ...        ...      ...        ...        ...
138209  St. Louis  Missouri      US 2020-03-04  38.6377 -90.445837          0
141462  St. Louis  Missouri      US 2020-03-05  38.6377 -90.445837          0
144715  St. Louis  Missouri      US 2020-03-06  38.6377 -90.445837          0
147968  St. Louis  Missouri      US 2020-03-07  38.6377 -90.445837          0
151221  St. Louis  Missouri      US 2020-03-08  38.6377 -90.445837          1
154474  St. Louis  Missouri      US 2020-03-09  38.6377 -90.445837          1
157727  St. Louis  Missouri      US 2020-03-10  38.6377 -90.445837          1
160980  St. Louis  Missouri      US 2020-03-11  38.6377 -90.445837          1
164233  St. Louis  Missouri      US 2020-03-12  38.6377 -90.445837          2
167486  St. Louis  Missouri      US 2020-03-13  38.6377 -90.445837          2
170739  St. Louis  Missouri      US 2020-03-14  38.6377 -90.445837          2
173992  St. Louis  Missouri      US 2020-03-15  38.6377 -90.445837          2
177245  St. Louis  Missouri      US 2020-03-16  38.6377 -90.445837          2
180498  St. Louis  Missouri      US 2020-03-17  38.6377 -90.445837          3
183751  St. Louis  Missouri      US 2020-03-18  38.6377 -90.445837          4
187004  St. Louis  Missouri      US 2020-03-19  38.6377 -90.445837          8
190257  St. Louis  Missouri      US 2020-03-20  38.6377 -90.445837         10
193510  St. Louis  Missouri      US 2020-03-21  38.6377 -90.445837         17
196763  St. Louis  Missouri      US 2020-03-22  38.6377 -90.445837         22
200016  St. Louis  Missouri      US 2020-03-23  38.6377 -90.445837         69
203269  St. Louis  Missouri      US 2020-03-24  38.6377 -90.445837        100
206522  St. Louis  Missouri      US 2020-03-25  38.6377 -90.445837        129
209775  St. Louis  Missouri      US 2020-03-26  38.6377 -90.445837        173
213028  St. Louis  Missouri      US 2020-03-27  38.6377 -90.445837        247
216281  St. Louis  Missouri      US 2020-03-28  38.6377 -90.445837        313
219534  St. Louis  Missouri      US 2020-03-29  38.6377 -90.445837        336
222787  St. Louis  Missouri      US 2020-03-30  38.6377 -90.445837        366
226040  St. Louis  Missouri      US 2020-03-31  38.6377 -90.445837        492
229293  St. Louis  Missouri      US 2020-04-01  38.6377 -90.445837        605
232546  St. Louis  Missouri      US 2020-04-02  38.6377 -90.445837        712

[72 rows x 7 columns]

In [38]:
counties = df_mo.filter(['county']).drop_duplicates()
counties

              county
1488           Adair
1489          Andrew
1490        Atchison
1491         Audrain
1492           Barry
1493          Barton
1494           Bates
1495          Benton
1496       Bollinger
1497           Boone
1498        Buchanan
1499          Butler
1500        Caldwell
1501        Callaway
1502          Camden
1503  Cape Girardeau
1504         Carroll
1505          Carter
1506            Cass
1507           Cedar
1508        Chariton
1509       Christian
1510           Clark
1511            Clay
1512         Clinton
1513            Cole
1514          Cooper
1515        Crawford
1516            Dade
1517          Dallas
...              ...
1574           Ralls
1575        Randolph
1576             Ray
1577        Reynolds
1578          Ripley
1584          Saline
1585        Schuyler
1586        Scotland
1587           Scott
1588         Shannon
1589          Shelby
1579     St. Charles
1580       St. Clair
1582    St. Francois
1583       St. Louis
1602  St. Louis City
1581  Ste. Genevieve
1590        Stoddard
1591           Stone
1592        Sullivan
1593           Taney
1594           Texas
3226      Unassigned
1595          Vernon
1596          Warren
1597      Washington
1598           Wayne
1599         Webster
1600           Worth
1601          Wright

[118 rows x 1 columns]

In [39]:
# all results from st louis county
df_stlcity = df_mo.loc[df_mo["county"]=="St. Louis City",:]
df_stlcity

,county,state,country,date,lat,long,confirmed
1602,St. Louis City,Missouri,US,2020-01-22,38.635557,-90.243492,0
4855,St. Louis City,Missouri,US,2020-01-23,38.635557,-90.243492,0
8108,St. Louis City,Missouri,US,2020-01-24,38.635557,-90.243492,0
11361,St. Louis City,Missouri,US,2020-01-25,38.635557,-90.243492,0
14614,St. Louis City,Missouri,US,2020-01-26,38.635557,-90.243492,0
17867,St. Louis City,Missouri,US,2020-01-27,38.635557,-90.243492,0
21120,St. Louis City,Missouri,US,2020-01-28,38.635557,-90.243492,0
24373,St. Louis City,Missouri,US,2020-01-29,38.635557,-90.243492,0
27626,St. Louis City,Missouri,US,2020-01-30,38.635557,-90.243492,0
30879,St. Louis City,Missouri,US,2020-01-31,38.635557,-90.243492,0
34132,St. Louis City,Missouri,US,2020-02-01,38.635557,-90.243492,0
37385,St. Louis City,Missouri,US,2020-02-02,38.635557,-90.243492,0
40638,St. Louis City,Missouri,US,2020-02-03,38.635557,-90.243492,0
43891,St. Louis City,Missouri,US,2020-02-04,38.635557,-90.243492,0
47144,St. Louis City,Missouri,US,2020-02-05,38.635557,-90.243492,0
50397,St. Louis City,Missouri,US,2020-02-06,38.635557,-90.243492,0
53650,St. Louis City,Missouri,US,2020-02-07,38.635557,-90.243492,0
56903,St. Louis City,Missouri,US,2020-02-08,38.635557,-90.243492,0
60156,St. Louis City,Missouri,US,2020-02-09,38.635557,-90.243492,0
63409,St. Louis City,Missouri,US,2020-02-10,38.635557,-90.243492,0
66662,St. Louis City,Missouri,US,2020-02-11,38.635557,-90.243492,0
69915,St. Louis City,Missouri,US,2020-02-12,38.635557,-90.243492,0
73168,St. Louis City,Missouri,US,2020-02-13,38.635557,-90.243492,0
76421,St. Louis City,Missouri,US,2020-02-14,38.635557,-90.243492,0
79674,St. Louis City,Missouri,US,2020-02-15,38.635557,-90.243492,0
82927,St. Louis City,Missouri,US,2020-02-16,38.635557,-90.243492,0
86180,St. Louis City,Missouri,US,2020-02-17,38.635557,-90.243492,0
89433,St. Louis City,Missouri,US,2020-02-18,38.635557,-90.243492,0
92686,St. Louis City,Missouri,US,2020-02-19,38.635557,-90.243492,0
95939,St. Louis City,Missouri,US,2020-02-20,38.635557,-90.243492,0
...,...,...,...,...,...,...,...
138228,St. Louis City,Missouri,US,2020-03-04,38.635557,-90.243492,0
141481,St. Louis City,Missouri,US,2020-03-05,38.635557,-90.243492,0
144734,St. Louis City,Missouri,US,2020-03-06,38.635557,-90.243492,0
147987,St. Louis City,Missouri,US,2020-03-07,38.635557,-90.243492,0
151240,St. Louis City,Missouri,US,2020-03-08,38.635557,-90.243492,0
154493,St. Louis City,Missouri,US,2020-03-09,38.635557,-90.243492,0
157746,St. Louis City,Missouri,US,2020-03-10,38.635557,-90.243492,0
160999,St. Louis City,Missouri,US,2020-03-11,38.635557,-90.243492,0
164252,St. Louis City,Missouri,US,2020-03-12,38.635557,-90.243492,0
167505,St. Louis City,Missouri,US,2020-03-13,38.635557,-90.243492,0
170758,St. Louis City,Missouri,US,2020-03-14,38.635557,-90.243492,0
174011,St. Louis City,Missouri,US,2020-03-15,38.635557,-90.243492,0
177264,St. Louis City,Missouri,US,2020-03-16,38.635557,-90.243492,0
180517,St. Louis City,Missouri,US,2020-03-17,38.635557,-90.243492,1
183770,St. Louis City,Missouri,US,2020-03-18,38.635557,-90.243492,2
187023,St. Louis City,Missouri,US,2020-03-19,38.635557,-90.243492,2
190276,St. Louis City,Missouri,US,2020-03-20,38.635557,-90.243492,5
193529,St. Louis City,Missouri,US,2020-03-21,38.635557,-90.243492,7
196782,St. Louis City,Missouri,US,2020-03-22,38.635557,-90.243492,10
200035,St. Louis City,Missouri,US,2020-03-23,38.635557,-90.243492,15
203288,St. Louis City,Missouri,US,2020-03-24,38.635557,-90.243492,23
206541,St. Louis City,Missouri,US,2020-03-25,38.635557,-90.243492,44
209794,St. Louis City,Missouri,US,2020-03-26,38.635557,-90.243492,69
213047,St. Louis City,Missouri,US,2020-03-27,38.635557,-90.243492,72
216300,St. Louis City,Missouri,US,2020-03-28,38.635557,-90.243492,95
219553,St. Louis City,Missouri,US,2020-03-29,38.635557,-90.243492,102
222806,St. Louis City,Missouri,US,2020-03-30,38.635557,-90.243492,102
226059,St. Louis City,Missouri,US,2020-03-31,38.635557,-90.243492,150
229312,St. Louis City,Missouri,US,2020-04-01,38.635557,-90.243492,195
232565,St. Louis City,Missouri,US,2020-04-02,38.635557,-90.243492,239